html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    font-family: 'Poppins', 'canada' ;
}
.logoB{
    width: 152px;
    height: 73px;
    top: 37px;
    position: relative;
    background: url("../img/bandeira.png")  no-repeat center 0;
    display: block;
}

.clear{
    clear: both;
}

.center{
    width: 1110px;
    margin: 0 auto;
}
.centeI{
    width: 1610px;
    margin: 0 auto;
}
.logo{
    float: left;
}

.menu{

    float: right;

}
.menu__li{
    float: left;
    margin: 54px 7px 50px 70px;
}
.menu__link{
    color: black;
    text-decoration: none;
    font-size: 18px;
    line-height: 27px;

}
.menu__link:hover{
    color: #0075FF;
}
.bt-blue{
    text-decoration:  none;
    font-size: 16px;
    font-weight: 600;
    color:#ffffff;
    background: #0075FF;
    padding: 10px 30px;
    border-radius: 5px;
    margin-left: 30px;

}
.bt-blue:hover{
    background: #ffffff;
    color: #0075FF;
}
.box{
    background: url("../img/meiaBandeiraParteCima1.png") no-repeat center 0;
    width: 1948.5px;
    height: 682.01px;
    left: -17px;
    top: -7px;

}
.funco__box{
    background: url("../img/Desktop\ -\ 1.png") no-repeat center 0;
    width: 1989px;
    height: 3950px;
    left: -39px;
    top: 2182px;
}

.text{
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #000000; 
}
.text-sub{
    font-size: 18px;
    line-height: 27px;
    color: #000000; 
    height: 70px;
}
.text-compl{
    font-size: 25px;
    line-height: 37px;
    padding: 60px;
}
.apresentacao__descricao{
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;

}

.alinhar__box{
    width: 50%;
    float: left;
    padding-top: 50px;
}

.imgQuemSomos__box{
    width: 50%;
    float: left;
    padding-top: 50px;
}

.text-QS{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #000000;
}
.text-SubQS{
    font-size: 18px;
    line-height: 27px;
    text-align: right;
    color: #000000;
    margin: 30px 0px;
    
}
.bt-blue-I{
    text-decoration:  none;
    font-size: 16px;
    font-weight: 600;
    color:#ffffff;
    background: #0075FF;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block ;
    

}
.bt-blue-I:hover{
    background: #ffffff;
    color: #0075FF;
}
.bt-blue-I{

    float: right;

}
.boxQuemSomos{
    padding-top: 30px;

}

.boxBord{
    padding-top: 30px;

}
.text-Dast{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 90px;
    text-align: center;

    color: #000000;
}
.imgDast__box{
    width: 50%;
    float: left;
    padding-top: 50px;

}
.boxPostagens{
    padding-top: 20px;
}
.saibaMais{
    font-size: 20px;
    line-height: 30px;
    padding-top: 10px ;
    padding-right: 90px;

    color: #000000;

}
.saibaMais:hover {
    color: #0075FF;
}
.saibaMais{
    float: right;
}
.post-destaque{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    padding: 30px 0px ;
    color: #000000;
    text-decoration: none;
}
.post-destaqueI{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    padding: 30px 10px;
    color: #000000;
}

.postD__box{
    width: 50%;
    float: left;
    padding-top: 50px;
}
.postE__box{
    width: 50%;
    float: right;
    padding-top: 50px;
}
.boxInsta{
    padding-top: 100px;
}
.insta-pos{
    width: 40%;
    float: left;
    padding-left: 200px;

}

.insta-pos:hover img {
    border: 1px solid #777;
}
  
.insta-pos img {   
    width: 500px; 
    height: auto;

}
.insta-response {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

.img{
    width: 400px;
    height: 400px;
}
.boxPodCast{
    padding-top: 40px ;
}
.img-podCast{
    padding-left: 50px;
}
.text-PC{
    font-weight: 600;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    color: #000000;
    padding-bottom: 40px;
    
}
.img-News{
    padding-left: 150px;
}
.text-News{
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #000000;
}
/*parte final*/

.foter-title{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #2f2f2f;
    margin-bottom: 30px;
    display: block;
}

.foter-menu{
    margin-bottom: 15px;
}

.logo-rodape{
    padding: 0px, 50px;
    opacity: 0.5;
    margin: auto;

    
}
.logo-rodape:hover {
    opacity: 1.0;
  }
.foter-drescricao{
    color: #544837;
    line-height: 27px;
    font-size: 18px;
    margin-top: 20px;

}

.foter{
    padding-top: 30px;

}

.foter .center{
   border-top: 1px solid #dee8f2; 
   padding-top: 50px 0;
   border-bottom: 1px solid #dee8f2;
}

.foter-box{
    width: 30%;
    float: left;
    padding-top: 0px ;
   
}


.foter-menu-box{
    width: 30%;
    float: left;
    padding-top: 20px;
}

.foter-auto{
    text-align: center;
    font-size: 14px;
    color: #505230;
    padding: 20px 0;

}

.foter-auto a{
    color: #0075FF ;
}


@media only screen and (max-width: 700px) {
    .insta-response {
      width: 49.99999%;
      margin: 6px 0;
    }
}
@media only screen and (max-width: 500px) {
    .insta-response {
      width: 100%;
    }
}